src/Aritter.WebApi/Aritter.Config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="loggingLevel">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Debug"/>
			<xs:enumeration value="Error"/>
			<xs:enumeration value="Fatal"/>
			<xs:enumeration value="Info" />
			<xs:enumeration value="Off"  />
			<xs:enumeration value="Trace"/>
			<xs:enumeration value="Warn"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="loggingTargetType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="File"/>
			<xs:enumeration value="Console"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="aritter">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="auditing">
					<xs:complexType>
						<xs:attribute name="enabled" type="xs:boolean" use="optional" />
					</xs:complexType>
				</xs:element>
				<xs:element name="logging">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="targets">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="target" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="type" type="loggingTargetType" use="required" />
														<xs:attribute name="name" type="xs:string" use="required" />
														<xs:attribute name="fileName" type="xs:string" use="optional" />
														<xs:attribute name="layout" type="xs:string" use="required" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="rules">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="rule">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required" />
												<xs:attribute name="minlevel" type="loggingLevel" use="required" />
												<xs:attribute name="writeTo" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="database">
					<xs:complexType>
						<xs:attribute name="defaultSchema" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
				<xs:element name="mail">
					<xs:complexType>
						<xs:attribute name="enableSsl" type="xs:boolean" use="optional" />
						<xs:attribute name="useDefaultCredentials" type="xs:boolean" use="optional" />
						<xs:attribute name="host" type="xs:string" use="required" />
						<xs:attribute name="port" type="xs:unsignedShort" use="required" />
						<xs:attribute name="displayName" type="xs:string" use="required" />
						<xs:attribute name="userName" type="xs:string" use="required" />
						<xs:attribute name="password" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>