src/Aritter.API/Properties/Aritter.Config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="aritter">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="auditing">
                    <xs:complexType>
                        <xs:attribute name="enabled" type="xs:boolean" use="optional" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="database">
                    <xs:complexType>
                        <xs:attribute name="defaultSchema" type="xs:string" use="optional" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="mail">
                    <xs:complexType>
                        <xs:attribute name="enableSsl" type="xs:boolean" use="optional" />
                        <xs:attribute name="useDefaultCredentials" type="xs:boolean" use="optional" />
                        <xs:attribute name="host" type="xs:string" use="required" />
                        <xs:attribute name="port" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="displayName" type="xs:string" use="required" />
                        <xs:attribute name="userName" type="xs:string" use="required" />
                        <xs:attribute name="password" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>